{% load static %}

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Primary Meta Tags -->
<title>{{ title }} </title>
<meta name="title" content="{{ title }} | «Bavaria Med Service»">
<meta name="description" content="{{ description }}">
<meta content="лечение в Германии, медицинский туризм, лечение в европе, немецкая клиника, роды в германии, диагностика в германии, лечение детей в германии, обследование в германии, реабилитация в германии" name="keywords">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://bavariamed.ru/">
<meta property="og:title" content="{{ title }} | «Bavaria Med Service»">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://bavariamed.ru/">
<meta property="twitter:title" content="{{ title }} | «Bavaria Med Service»">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">