{% extends 'base/_base.html' %}
{% load static %}

{% block body %}
 <!-- Header Start -->
 <div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-12 p-5 mt-xl-8">
            <h1 class="display-5 animated fadeIn mb-4">{{ title }}</h1> 
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Mega carousel Start -->
{% include 'include/mega-carousel.html' %}
<!-- Mega carousel End -->

<div class="container-xxl m-auto row">
    <div class="col-lg-9 col-12">
        {% block content %}{% endblock content %}
    </div>

    <div class="col-lg-3 col-12 sidebar_box">
        {% include 'include/slider-block.html' %}
    </div>

    {% include 'include/contact-block.html' %}
</div>

{% endblock body %}