{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 wow fadeIn" data-wow-delay="0.1s">
   
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; 2003 — {{ corrent_year }} «Bavaria Med Service» — лечение в Германии.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="{% url 'index' %}">Главная</a>
                        <a href="{% url 'faq' %}">Вопросы и ответы</a>
                        <a href="{% url 'contact' %}">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->