{% load static %}

<!-- JavaScript Libraries -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/wow/wow.min.js' %}"></script>
<script src="{% static 'libs/easing/easing.min.js' %}"></script>
<script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'libs/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>