{% load static %}

<div class="container-xxl py-5" id="contact-info">
    <div class="container">
        <div class="bg-dark rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'images/call-to-action.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">Проконсультируйтесь со специалистом</h1>
                            <p>Наши специалисты всегда готовы вам помочь и ответить на любые вопросы абсолютно бесплатно.</p>
                            <p style="line-height: 2;">
                                <span><i class="fa fa-phone"></i><span> Телефон: </span><a href="tel:+996707366749">+996(707)36-67-49</a></span><br>
                                <span><i class="fa fa-mobile-retro"></i><span> Мобильный: </span><a href="tel:+996707366749">+996(707)36-67-49</a></span><br>
                                <span><i class="fa fa-envelope-circle-check"></i><span> Email: </span><a href="mailto:bavariamed@gmail.com">bavariamed@gmail.com</a></span><br>
                            </p>
                        </div>
                        <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Сделать Звонок</a>
                        <a href="{% url 'contact' %}#info-contact" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Оформить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>