<div class="catalog">
	<div class="container">
		<ul class="catalog__tabs">
			<li class="catalog__tab catalog__tab_active">
				<div>Для мужчин</div>
			</li>
			<li class="catalog__tab">
				<div>Для женщин</div>
			</li>
		</ul>

		<div class="catalog__content catalog__content_active">
			<div class="item item catalog-item">
				<div class="catalog-item__wrapper">
					<div class="catalog-item__content catalog-item__content_active">
						<div class="catalog-item__subtitle">Базис</div>
						<div class="catalog-item__day">
							<p class="day__dec">Период диагностики <span class="span">2</span> дня</p>
						</div>
						<div class="catalog-item__text">
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом,
								сбор врачебного анамнеза</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у уролога
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>ЭКГ в покое и с нагрузкой,
								эхокардиография</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветная эхокардиография
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови:
								общие показатели определения уровня электролитов, жирового обмена, показатели иммунного
								статуса, функции печени почек, поджелудочной железы, щитовидной железы, определение по
								крови хеликобактера</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек,
								поджелудочной железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер,
								обследование шейных сосудов</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
						</div>
						<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
					</div>
				</div>
			</div>

			<div class="item catalog-item">
				<div class="catalog-item__wrapper">
					<div class="catalog-item__content catalog-item__content_active">
						<div class="catalog-item__subtitle">Бизнес</div>
						<div class="catalog-item__day">
							<p class="day__dec">Период диагностики <span class="span">3</span> дня</p>
						</div>
						<div class="catalog-item__text">
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом,
								сбор врачебного анамнеза</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у уролога
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови:
								общие показатели определения уровня электролитов, жирового обмена, показатели иммунного
								статуса, функции печени почек, поджелудочной железы, щитовидной железы, определение по
								крови хеликобактера</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек,
								поджелудочной железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер,
								обследование шейных сосудов</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Гастроскопия</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Колоноскопия</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
						</div>
						<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
					</div>
				</div>
			</div>

			<div class="item catalog-item">
				<div class="catalog-item__wrapper">
					<div class="catalog-item__content catalog-item__content_active">
						<div class="catalog-item__subtitle">Вип</div>
						<div class="catalog-item__day">
							<p class="day__dec">Период диагностики <span class="span">3</span> дня</p>
						</div>
						<div class="catalog-item__text">
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом,
								сбор врачебного анамнеза</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у уролога
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови:
								общие показатели определения уровня электролитов, жирового обмена, показатели иммунного
								статуса, функции печени почек, поджелудочной железы, щитовидной железы, определение по
								крови хеликобактера</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>МРТ</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>ЭКГ в покое и с нагрузкой,
								эхокардиография</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер,
								обследование шейных сосудов</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек,
								поджелудочной железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Гастроскопия</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Колоноскопия</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
						</div>
						<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
					</div>
				</div>

			</div>
		</div>

		<div class="catalog__content">
			<div class="catalog-item">
				<div class="catalog-item__wrapper">
					<div class="catalog-item__content catalog-item__content_active">
						<div class="catalog-item__subtitle">Базис</div>
						<div class="catalog-item__day">
							<p class="day__dec">Период диагностики <span class="span">2</span> дня</p>
						</div>
						<div class="catalog-item__text">
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом,
								сбор врачебного анамнеза</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у гинеколога
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови:
								общие показатели определения уровня электролитов, жирового обмена, показатели иммунного
								статуса, функции печени почек, поджелудочной железы, щитовидной железы, определение по
								крови хеликобактера</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек,
								поджелудочной железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов
							</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер,
								обследование шейных сосудов</div>
							<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
						</div>
						<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
					</div>
				</div>
			</div>
			<div class="catalog-item">
				<div class="catalog-item__subtitle">Бизнес</div>
				<div class="catalog-item__day">
					<p class="day__dec">Период диагностики <span class="span">3</span> дня</p>
				</div>
				<div class="catalog-item__text">
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом, сбор
						врачебного анамнеза</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у гинеколога</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови: общие
						показатели определения уровня электролитов, жирового обмена, показатели иммунного статуса,
						функции печени почек, поджелудочной железы, щитовидной железы, определение по крови
						хеликобактера</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек, поджелудочной
						железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер, обследование
						шейных сосудов</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Гастроскопия</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Колоноскопия</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
				</div>
				<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
			</div>
			<div class="catalog-item">
				<div class="catalog-item__subtitle">Вип</div>
				<div class="catalog-item__day">
					<p class="day__dec">Период диагностики <span class="span">3</span> дня</p>
				</div>
				<div class="catalog-item__text">
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Беседа с лечащим врачом, сбор
						врачебного анамнеза</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Обследования у гинеколога</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Расширенный анализ крови: общие
						показатели определения уровня электролитов, жирового обмена, показатели иммунного статуса,
						функции печени почек, поджелудочной железы, щитовидной железы, определение по крови
						хеликобактера</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>МРТ</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>ЭКГ в покое и с нагрузкой,
						эхокардиография</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>УЗИ печени, почек, поджелудочной
						железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Цветной допплер, обследование
						шейных сосудов</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Маммография</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Гастроскопия</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Колоноскопия</div>
					<div class="text__dia"><i class="fa-solid fa-check dia-icon"></i>Заключительная беседа</div>
				</div>
				<a href="{% url 'contact' %}" class="btn btn-primary w-100 mt-2">Оформить заявку</a>
			</div>
		</div>
	</div>
</div>