<div class="container-fluid bg-primary mb-5 py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel mega-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-2">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-2">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-2">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                </div>
            </div>
        </div>
    </div>
</div>