/********** Template CSS **********/
:root {
    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #1266a1;
    --title: #0E2E50;
    --black: #000000;
}

.company {
    background-color: #fff !important;
}

.company .info_company {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn-bg {
    background-color: #1266a1;
    border: none;
    padding: 7px 0;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    margin: 3px 15px 0 0;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/* Cloud BTN */
.edu_cloud_btn {
    min-width: 200px;
    background-color: #1266a1;
    border-radius: 10px;
}

.edu_cloud_btn a {
    padding: 8px 15px !important;
    background-color: transparent;
    border: none;
    transition: background .3s linear;
}

.edu_cloud_btn a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    padding-right: 20px !important;
}

.edu_cloud_btn a:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

.edu_cloud_btn a:hover {
    background-color: var(--primary) !important;
}

.edu_cloud_btn .active {
    background-color: var(--primary) !important;
}



/*** Navbar ***/

/* .navbar-nav {
    justify-content: space-around;
    height: 100%;
    width: 100%;
} */

.margin-position {
    display: none;
}

.margin-position-active {
    display: block;
    height: 20%;
    font-size: 30px;
    font-weight: 900;
}

.nav-bar {
    position: relative;
    margin-top: 0;
    padding: 0;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 900 !important;
    text-transform: uppercase;
    outline: none;
    background-color: var(--primary);
    color: var(--light) !important;
    border-right: 2px solid var(--light);
}

.navbar-light .navbar-nav .nav-link {}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link {
    background-color: var(--dark);
}

.company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}


.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}


.navbar-collapse-active .nav-list {
    border-bottom: 2px solid var(--light);
}

.navbar-collapse-active {}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #DDDDDD;
}

/*** Header Banner ***/
.banner img {
    width: 100%;
}

/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    /* align-items: flex-start;
    justify-content: start; */
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}

/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}

/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}

/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.logo-text {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 900;
}

.logo-hunter {
    color: var(--dark) !important
}

.cat-item-active {
    background-color: var(--primary) !important;
    color: var(--light);
}

.cat-item-active h6 {
    color: var(--light);
}

.bg-dark {
    background-color: var(--dark) !important;
}


/* My style */
.mega-banner {
    text-align: center;
}

.mega-banner div {
    border-left: 2px solid rgba(255, 255, 255, 0.514);
}

.mega-banner div:first-child {
    border-left: none;
}

.mega-banner h4 a {
    font-size: 18px;
    color: var(--light);
    transition: color .3s linear;
}

.mega-banner h4:hover a {
    color: var(--dark);
}

.mega-banner p {
    font-size: 15px;
    color: var(--light);
}

.diagnostics #diagnostics__table {
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid #DCDCDC;
    margin: 1.5em 0 0.5em 0;
}

#price tr,
#price th {
    padding: 10px;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-width: 1px !important;
}

#diagnostics__table td {
    font-size: 90%;
    line-height: 139%;
    padding: 1em 1em;
    border: 1px solid #DCDCDC;
    color: #0E2E50;
}

/* Наши врачи */
.doctor-carousel .owl-stage {
    height: 350px !important;
}


.form-email::placeholder {
    color: white;
}

/* Diagnostic */
.catalog__tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0
}

.catalog__tab {
    width: 200px;
    border: 2px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: .5s all;
    
}
.catalog__tab:nth-child(1){
    border-right:none;
}
.catalog__tab:nth-child(2){
    border-left:none;
}

.catalog__tab_active {
    color: #fff;
    background-color: var(--dark);
    border-color: var(--dark);
}

.catalog__content {
    margin-top: 20px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap
}

.catalog__content_active {
    display: flex
}

.catalog-item {
    width: 300px;
    height: 100%;
    border: 2px solid #e8e8e8;
    padding: 20px;
    margin-bottom: 20px
}

.catalog-item__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 200px
}

.catalog-item__subtitle {
    color: var(--title);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.catalog-item__descr {
    margin-top: 16px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    text-align: center
}

.catalog-item__link {
    display: block;
    margin-top: 17px;
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase
}

.catalog-item__link:hover {
    color: var(--dark)
}


.catalog-item__footer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.catalog-item__old-price {
    color: #555;
    font-size: 14px;
    font-weight: 300;
    text-decoration: line-through
}

.catalog-item__price {
    color: #050505;
    font-size: 20px;
    font-weight: 700
}

.catalog-item__wrapper {
    display: flex;
}

.catalog-item__list {
    position: relative;
    width: 50%;
    margin-left: 20px;
    transform: translateX(0);
    padding-right: 20px;
    transition: .5s all;
    padding-left: 19px;
    margin-bottom: 0;
    list-style-type: none
}

.catalog-item__list_active {
    transform: translateX(-100%);
    margin-left: 0
}

.catalog-item__list li {
    position: relative;
    color: #555;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px
}

.catalog-item__list li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--dark);
    left: -14px;
    top: 7px
}

.catalog-item__back {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% - 19px));
    display: block;
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase
}

.catalog-item__back:hover {
    color: var(--dark)
}

.day__dec {
    margin-top: 10px;
    color: var(--black);
}

.day__dec .span {
    font-size: 40px;
}

.dia-icon {
    color: var(--primary);
    font-size: 20px;
    margin-right: 10px;
}

.text__dia {
    font-size: 14px;
    border-bottom: 1px solid var(--primary);
    padding: 10px 0;
}

.text__dia:last-child {
    border-bottom: none;
}


/* sidebar */
.sidebar__box-block {
    position: sticky;
    top: 60px;
}

/* accommodation */

.accommodation__block {
    justify-content: space-between;
    flex-wrap: wrap;
}

.accommodation__item {
    width: 300px;
    height: 100%;
    border: 2px solid #e8e8e8;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.startion {
    color: var(--primary);
    font-size: 17px;
}

.startion-top {
    transform: translateY(-15px);
    font-size: 20px;
}

.startion-one {
    transform: translateY(-28px);
    font-size: 27px;
}   

.price {
    color: var(--dark);
    font-weight: 500;
    font-size: 25px;
}

.price sub {
    display: inline-block;
    left: 5px;
    bottom: 0;
    font-size: 18px;
}

/* Contacts */
.i_agree {
    display: flex;
    align-items: center;
}
.i_agree input {
    height: 30px !important;
    width: 30px !important;
    margin-right: 10px !important;
}

.i_agree label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* treatment */ 



.treatment__item {
    padding: 15px;
    width: 200px;
    border: 2px solid #d0d0d0;
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: .5s all;
    list-style: none;
    margin-bottom: 0;
}

.treatment__item-active {
    color: #fff;
    background-color: var(--dark);
    border-color: var(--dark);
}

.treatment__content {
    position: relative;
    transform: translateX(0);
    transition: .5s all;
    border: 2px solid #d0d0d0;
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
}

.treatment__content-item  {
    height: 100%;
    flex-wrap: wrap;
    list-style: none;
}

.treatment__content_active {
    transform: translateX(-100%);
}

.treatment__content-list_activeist li {
    position: relative;
    color: #555;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px
}

.catalog-item__back {
    position: absolute;
    bottom: 0;
    left: 80%;
    transform: translateX(calc(-80% - 19px));
    display: block;
    color: var(--dark);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase
}

.catalog-item__back:hover {
    color: var(--dark)
}

.treatment__content-link svg {
    opacity: 0;
    vertical-align: middle;
    margin-left: 3px;
    font-size: 15px;
    transition: all .800ms;
}

.treatment__content-link:hover svg {
    opacity: 1;
}


/* services */
.services_letter {
    margin: 0 15px 15px 15px;
}
.services_letter .letters__content .btn {
    font-size: 18px;
    transition: all .2s linear;
    margin: 5px 5px 0 0 !important;
}

.services_letter .letters__content .active,
.services_letter .letters__content .btn:hover {
    background-color: var(--dark);
    border-color: var(--dark);
}

.services__content {
    padding: 15px 0;
}

.services__content .service__item {
    margin: 5px;
}

.services__content .service__item {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid var(--primary);
    transition: all 0.2s linear;
}

.services__content .service__item:hover {
    background-color: var(--primary);
    color: var(--light) !important;
}

.diagnostics-list li {
    margin-top: 10px;
}