{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="p-3 pt-0">
    <h2>{{ title }}</h2>
    <p class="text_info mt-4">
        Обычно компании, предлагающие лечение за границей, предоставляют выбор из неограниченного количества медучреждений. 
        Это может свидетельствовать о том, что постоянных партнеров для лечения в Европе иностранных пациентов у них нет. 
        В данном случае лечение за рубежом организовывается, что называется, «по ходу». Другими словами, являясь посреднической структурой, 
        подобные компании лишь принимают документы с целью их рассылки в максимальное количество больниц. Далее идет процесс отбора медучреждений, 
        организация самой поездки, диагностика в Германии или другой стране. Поиск клиники в Германии, Швейцарии или другой стране, таким образом, 
        может затянуться на долгие месяцы. Но при серьезном заболевании на счету каждые сутки, а иногда и часы.
    </p>
    <p class="text_info">
        Оптимальным вариантом выбора клиники считается обращение в специализированную компанию, которая для лечения в Германии и других странах 
        предлагает свои собственные клиники или клиники-партнеры. В этом случае обследование в Германии, проведение терапевтических процедур, 
        хирургическая операция или реабилитация пройдут максимально оперативно.
    </p>
    <p class="text_info">
        Предлагая лечение в Германии, компания «Bavaria Med Service» располагает обширной сетью партнерских медучреждений. 
        Среди них немецкая клиника «Шлосс Маммерн», предлагающая качественную диагностику в Германии, гинекологическая клиника доктора Гайзенхофера, 
        клиника «Арабелла», практикующая пластическую хирургию и предлагающая эффективную реабилитацию в Германии после операции. 
        Всего в списке партнеров «Bavaria Med Service» насчитывается более 30 специализированных медучреждений различного профиля, 
        среди них известнейшие клиники в Германии: «Рехтс дер Изар», «Бад Триссль», «Герцог Карл Теодор», многопрофильная клиника 
        «Богенхаузен» и другие медицинские центры с отличной репутацией. Клиентам компании доступна эффективная и оперативная хирургия в Германии, 
        практикуется организация лечения онкологических заболеваний, болезней сердечно-сосудистой системы и других недугов.
    </p>
</div>
{% endblock content-xxl %}