{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="p-3 pt-0">
    <h2>{{ title }}</h2>
    <p class="text_info">
        Федеративная Республика Германия — это крупное государство в центральной Европе. Германия граничит с Данией на севере, 
        с Австрией и Швейцарией на юге, с Польшей и Чехией на востоке, с Люксембургом, Нидерландами, Францией и Бельгией на западе. 
        Всю территорию Германии можно разделить на четыре основных зоны: предгорье Альп, северогерманская низменность, 
        балтийское побережье и североморское побережье. Столицей Германии является Берлин, но некоторые органы государственного 
        управления расположены в Бонне. В Германии живут по среднеевропейскому времени. То есть, в Германии на два часа меньше, чем в Москве.
    </p>
    <p class="text_info">
        Официальный язык Германии — немецкий. Но многие немцы, особенно молодежь, свободно могут разговаривать на английском. 
        Титульной нацией Германии являются немцы. Второй по численности национальностью в Германии являются турки. 
        По официальной статистике их около более двух миллионов, однако это только официальная статистика. 
        Также очень много выходцев из Восточной Европы, в том числе и из постсоветского пространства.
    </p>

    <h3 class="mt-4">Оформление виз и визовые сборы</h3>
    <p class="text_info">
        Для того чтобы получить немецкую визу, необходимо заблаговременно записаться на прием в визовом отделе немецкого посольства. 
        Сделать это можно по телефону: (495) 789-64-82. Также во время записи в визовый отдел необходимо указать цель поездки. 
        Выдача паспортов производится с понедельника по четверг — 8:45—10:00 и 13:30—16:00, по пятницам — 8:45—10:00 и 12:30—14:30. 
        Если паспорт будет получать доверенное лицо, необходимо предоставить нотариальную доверенность.
    </p>
    <p class="text_info">
        Визовые сборы могут взиматься как в рублях, так и в евро. Для россиян визовый сбор по шенгенской зоне равняется 35 евро. 
        С детей до шести лет сбор не взимается. Национальная германская виза будет стоить 30 евро. Визовый отдел посольства 
        Германии располагается по адресу: 119313, Москва, Ленинский проспект, 95А (ближайшая станция метро Проспект Вернадского).
    </p>

    <h3 class="mt-4">Город Мюнхен</h3>
    <p class="text_info">
        Мюнхен является одним из главных городов современной Германии. В этом городе самым удивительным образом 
        переплелись все элементы современного мегаполиса и классического немецкого городка. Именно Мюнхен считается деловой столицей Германии. 
        В городе бесчисленное количество различных магазинов, офисов, деловых центров. Вместе с этим в Мюнхене практически на 
        каждом шагу можно увидеть памятники архитектуры и истории. Пожалуй, это самое лучшее место в Германии. Ежегодно Мюнхен 
        посещают миллионы туристов со всего мира.
    </p>
    
    <h3 class="mt-4">Замки Баварии</h3>
    <p class="text_info">
        В Баварии можно увидеть достаточно большое количество всевозможных замков. Замки являются одним из символов Баварии. 
        За состоянием замков очень тщательно следят и не только из-за того, что баварские замки являются отличной наживкой для 
        туристов со всего мира, а потому что сами баварцы очень щепетильно относятся к своему культурному наследию.
    </p>
    <p class="text_info">
        Многие из замков Баварии в той или иной степени связаны с именем Людвига II Баварского. Его можно назвать самым главным 
        романтиком всего девятнадцатого века. Король Людвиг очень любил замки, он был готов тратить на их возведение огромнейшие суммы. 
        Современники этого увлечения особо не понимали, так как деньги были государственные, зато нынешние баварцы очень благодарны 
        романтически настроенному королю за оставленное наследство.
    </p>

    <h3 class="mt-4">Замок Нойшванштайн</h3>
    <p class="text_info">
        Этот замок был построен недалеко от озера Форггензее на высоте более 1000 метров. Неподалеку расположилось Альпийское озеро и 
        Лебединое озеро. Именно Лебединое озеро в свое время вдохновило Петра Ильича Чайковского на написание одноименного произведения.
    </p>
    <p class="text_info">
        Замок считается одной из главных достопримечательностей Баварии. Он восхищает своей изящностью и некоторой утонченностью. 
        С точки зрения архитектуры, замок является виртуозным смешением византийского, готического и романского стилей. 
        Окружающие замок альпийские леса только подчеркивают его красоту и уникальность. На фоне альпийских лесов замок 
        Нойшванштайн смотрится как резиденция сказочного волшебника. В оформление внутреннего убранства замка особое 
        место имеет лебединая тема: гобелены, картины, статуэтки, резьба и многое другое. К замку ведет петляющая асфальтированная дорога. 
        Передвигаются по этой дороге либо пешком, либо на конной упряжке.
    </p>

    <h3 class="mt-4">Королевская усадьба Линдерхоф</h3>
    <p class="text_info">
        Королевская усадьба Линдерхоф интересна хотя бы тем, что это единственный замок, который был построен 
        еще при жизни короля Людвига II. Этот замок является удивительным переплетением стилей барокко и рококо. 
        В оформлении внутреннего убранства замка изобилуют огромные зеркала, обрамленные золотом. Над художественным 
        оформлением королевской усадьбы работали лучшие европейские мастера девятнадцатого века.
    </p>
    <p class="text_info">
        В обустройстве интерьера замка было использовано огромное количество декоративных элементов: вазы, картины, гобелены, 
        лепнина и фарфоровые скульптуры. Одной из главных достопримечательностей замка считается огромная хрустальная люстра, 
        которая весит в покоях короля Людвига. Интересным устройством является стол в обеденном зале — при помощи специальных механизмов 
        он поднимается из пола. По тем временам это было самое настоящее чудо техники. Вход во дворец украшает фонтан. 
        Вся парковая территория оформлена в самых разных стилях: от арабского до французского, такое смешение стилей дает 
        парковой зоне особое очарование. Особое внимание архитекторы уделили освещению.
    </p>

    <h3 class="mt-4">Дворец Херренкимзее</h3>
    <p class="text_info">
        Самым масштабным и дорогим проектом короля Людвига II стал дворец Херренкимзее, который расположен на острове посреди озера Кимзее. 
        Это озеро расположено в восьмидесяти километрах от Мюнхена в предгорье Альп. Говорить про красоту здешних мест бессмысленно, 
        это надо увидеть воочию. Дворец не успели достроить при жизни короля, уж очень затратным был этот проект. 
        На строительство замка король потратил все свои деньги. Сейчас замок считается одной из главных достопримечательностей Баварии. 
        Ежегодно Херренкимзее посещает около миллиона туристов. Добраться до замка можно следующим образом: сначала необходимо доехать 
        по железной дороге до курортного городка Приен-ам-Кимзее, а затем на катере добраться до самого острова.
    </p>
    <p class="text_info">
        Фасад замка полностью повторяет фасад Версаля. Вообще, Херренкимзее в архитектурном плане очень сильно напоминает резиденцию 
        французских королей. При оформлении дворцово-парковой зоны были использованы самые различные декоративные элементы. 
        Некоторые даже считают, что по своей роскоши и организованности дворец Херренкимзее превосходит Версаль. 
        В общем оформлении преобладают голубой, бордовый и золотистый цвет. Одним из самых примечательных элементов замка является 
        зеркальная галерея с анфиладой из семнадцати арочных окон. Длина этой уникальной галереи составляет почти сто метров.
    </p>

    <h3 class="mt-4">Деликатесы</h3>
    <p class="text_info">
        Главным местным деликатесом по праву считаются вайссвюрсты — баварские белые колбаски. Это местное блюдо по праву считается 
        одной из визитных карточек, как Мюнхена, так и всей Баварии. Считается, что в первый раз баварские белые колбаски были 
        представлены на суд общественности 22 февраля 1857 г. Готовятся белые баварские колбаски из свинины и парной телятины. 
        Особое значение уделяется всевозможным специям. Для того чтобы масса была более однородная, в нее добавляют колотый лед. 
        Такие колбаски подаются к столу с солеными кренделями и сладкой горчицей. Кушать баварские колбаски можно различными способами. 
        В любой баварской пивной вас быстро всем этим способам научат.
    </p>
    <p class="text_info">
        Кстати, есть колбаски без пива — это настоящее кощунство. Любой баварец с малых лет знает, что баварские белые колбаски 
        особенно хороши, если их запивать баварским же пивом. А пиво в Баварии, как известно, отменное.
    </p>
</div>
{% endblock content-xxl %}