{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="p-3 pt-0">
    <h2 class="mb-5 text-center">{{ title }}</h2>
    <h3><a href="{% url 'treatment' %}">С чего начать лечение в Германии</a></h3>
    <p>
        Эта статья поможет вам определить, какие документы и сведения понадобятся для организации вашего приезда в Германию и ответит на интересующие вас вопросы.
    </p>

    <h3 class="mt-5"><a href="{% url 'motivation' %}">Мотивы и стоимость лечения в Германии</a></h3>
    <p>
        Проходя лечение в Европе, сложно отказать себе в удовольствии соприкоснуться с многовековой историей, 
        окунуться в увлекательный мир средневековой архитектуры или побывать, скажем, в Диснейленде. Однако, 
        основная цель медицинского туризма — это лечение за границей.
    </p>

    <h3 class="mt-5"><a href="{% url 'clinic_articles' %}">Первичная диагностика и выбор клиники</a></h3>
    <p>
        Эффективное лечение в Европе невозможно без качественной диагностики. Часто постановке корректного диагноза в условиях 
        отечественной медицины мешает отсутствие современной лабораторной базы, устаревшее оборудование и недостаточная квалификация специалистов. 
        Поэтому, прежде чем планировать лечение в Германии, необходимо приложить максимум усилий для выяснения природы заболевания.
    </p>

    <h3 class="mt-5"><a href="{% url 'general' %}">Краткая информация о Германии для выезжающих на лечение</a></h3>
    <p>
        Федеративная Республика Германия — это крупное государство в центральной Европе. Германия граничит с Данией на севере, 
        с Австрией и Швейцарией на юге, с Польшей и Чехией на востоке, с Люксембургом, Нидерландами, Францией и Бельгией на западе.
    </p>
</div>
{% endblock content-xxl %}