{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="p-3 pt-0">
    <h2>{{ title }}</h2>
    <p class="text_info">
        Граждане России и других стран СНГ часто выбирают клиники в Германии от того, что не находят в своей стране должной медицинской помощи. 
        Ни для кого не секрет, что гинекология, хирургия или кардиология в Германии находится на самом высоком технологическом уровне, 
        а квалификация врачей не вызывает сомнений. К сожалению, любая немецкая клиника в техническом плане оснащена намного лучше российских медучреждений, 
        а оперативной реабилитации в Германии способствуют комфортные условия проживания, предоставляющие прекрасные условия для восстановления организма. 
        Сегодня не вызывает сомнений тот факт, что реабилитация в Германии проходит намного быстрее, чем на родине. 
        Не менее результативна и диагностика в Германии, что немаловажно при будущем лечении любых недугов, ведь корректный диагноз — это 50% успеха.
    </p>
    <h3 class="mt-4">Как попасть на лечение за границей?</h3>
    <p class="text_info">
        Надежным партнером в данной области может стать компания «Bavaria Med Service» — компания, имеющая многолетний опыт организации лечения в Германии. 
        В отличие от многих фирм-посредников аналогичного профиля, «Bavaria Med Service» занимается не только оформлением документов на выезд 
        за границу и поиском необходимой клиники в Германии. «Bavaria Med Service» — это квалифицированные специалисты-медики, которые имеют необходимые 
        знания и опыт для решения самых сложных проблем со здоровьем.
    </p>
    <h3 class="mt-4">Какая же цена на лечение в Германии?</h3>
    <p class="text_info">
        Лечение в Германии при всем желании сложно назвать дешевым. Помимо того, что лечение за рубежом требует дополнительных расходов на трансферт, 
        проживание и питание, педиатрия в Германии включает в себя ряд дорогостоящих процедур. При этом, не зная истории болезни и диагноза, обозначить 
        какие-либо конкретные ценовые рамки лечения и реабилитации в Германии достаточно сложно. В качестве предварительного обследования можно воспользоваться 
        программой «Check-up» от компании «Bavaria Med Service», которая поможет не только установить корректный диагноз, но и вовремя распознать скрытые заболевания.
    </p>
    <p class="text_info">
        Учитывая то, что стоимость специальных услуг клиник в Германии не является единственной статьей на лечение, было бы целесообразно осветить все факторы, 
        влияющие на ценообразование в данной области. Помимо оплаты лечения и диагностики в Германии, пациенту приходится рассчитывать платить за ряд 
        сопутствующих услуг, речь о которых пойдет ниже.
    </p>
    <p class="text_info">
        Стоимость лечения и обследования в Германии можно условно разделить на три части. Первая из них — это организационные расходы на лечение за границей. 
        Сюда входит оплата услуг специалистов, которые задействованы в подборе клиники и оформлении документов для выезда за границу для лечения. 
        К этому необходимо добавить расходы на проезд и проживание близких в стране во время лечения за рубежом. Совокупные расходы на подготовку лечения в 
        Германии могут колебаться от тысяч до десятков тысяч евро. Минимальная цена лечения в Германии или другой европейской стране составляет около 2 000 евро.
    </p>
    <p class="text_info">
        Вторая часть — это оплата сопутствующих услуг во время лечения за границей. Она состоит из оплаты палаты и питания в больнице. 
        При лечении некоторых заболеваний многие клиники в Германии практикуют амбулаторную терапию, поэтому местожительства и будущего 
        питания можно выбрать самостоятельно. Косвенные расходы на лечение в Германии данной категории могут колебаться от двухсот евро 
        до нескольких тысяч в зависимости от запросов пациента.
    </p>
    <p class="text_info">
        Третья составляющая стоимости лечения и реабилитации в Германии — это цена процедур или операций. Цены каждой из немецких клиник на хирургию в 
        Германии могут значительно разниться. Поэтому определить их примерный уровень без постановки диагноза практически невозможно. Стоит отметить лишь, 
        что обследование в Германии может быть включено в программу будущего лечения, поэтому отдельно оплачивается диагностика не всегда. Для того, 
        чтобы узнать стоимость лечения или диагностики в Германии, лучше обратиться в специализированную фирму, имея на руках медицинскую карту.
    </p>
    <p class="text_info">
        Дополнительной статьей расходов может стать медицинский туризм, ведь будучи в Германии, вы, по возможности, пожелаете осмотреть местные 
        достопримечательности. Кстати говоря, медицинский туризм рассматривается многим специалистами, как дополнительный фактор, влияющий на 
        успех реабилитации в Германии за счет позитивных эмоций. Поэтому данная статья расходов из косвенной может превратиться в одну из основных.
    </p>
</div>
{% endblock content-xxl %}