{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="p-3 pt-0">
    <h2>С чего начать лечение в Германии</h2>
    <p class="text_info">
        Эта статья поможет вам определить, какие документы и сведения понадобятся для организации вашего приезда в Германию и ответит на интересующие вас вопросы.
        <ol>
            <li class="mb-3">
                Вам нужно отправить по электронной почте медицинскую документацию (история болезни, последние анализы, снимки, 
                результаты диагностики и гистологии). Не забудьте также оставить свои контактные данные.
            </li>
            <li class="mb-3">
                Мы посылаем запрос в специализированную клинику и ждем заключения специалистов о возможности лечения, 
                сроках и стоимости предполагаемого лечения. В зависимости от сложности случая, ответ из клиники приходит в течение 1—5 дней.
            </li>
            <li class="mb-3">
                Мы пересылаем вам ответ на русском языке и вы принимаете решение.
            </li>
            <li class="mb-3">
                По согласованию с вами и врачами мы выбираем день для консультации. При необходимости получения визовой поддержки 
                мы предоставляем все документы для посольства (приглашение из клиники, бронь гостиницы, подтверждение оплаты счетов), 
                для получения визы для лиц, отправляющихся на лечение.
            </li>
            <li class="mb-3">
                В приглашении указываются приглашаемые пациенты, а также сопровождающие их лица, дата приезда, сроки выезда, 
                предварительная стоимость лечения. По договоренности часть денег на лечение можно уплатить на месте в Германии.
            </li>
            <li class="mb-3">
                Фирма и пациент либо его доверенное лицо подписывают договор на оказание услуг по организации диагностики, лечения и реабилитации в Германии.
            </li>
            <li class="mb-3">
                Оплата осуществляется по выставленным счетам. Оплату можно произвести как безналичным платежом, так и наличным до начала медицинских мероприятий.
            </li>
            <li class="mb-3">
                Полученные документы и заполненную анкету посольства вы предоставляете в посольство Германии. 
                <a target="_blank" href="https://germania.diplo.de/ru-de" rel="noopener noreferrer">На сайте немецкого посольства</a> представлен весь перечень необходимых документов.
            </li>
            <li class="mb-3">
                Вы сообщаете нам о дате вылета и номер рейса, по вашему желанию наша фирма окажет услугу трансфера из аэропорта в гостиницу и обратно.
            </li>
            <li class="mb-3">
                В день посещения клиники и визита к лечащему врачу вас сопровождает наш медицинский переводчик. 
                В ходе беседы выбирается тактика лечения или диагностики, которая согласовывается с вами.
            </li>
            <li class="mb-3">
                Все изменения в ходе диагностики или лечения, обосновываются и согласовываются.
            </li>
            <li class="mb-3">
                По окончании лечения вам предоставят все необходимые выписки, снимки и анализы.
            </li>
            <li class="mb-3">
                Клиника производит перерасчет затраченных средств, если реальный расход превысил запланированный, то вам выставляют счет для произведения доплаты.
            </li>
            <li class="mb-3">
                По вашему желанию организуется контрольный заезд, проводится очная или заочная консультация, 
                контроль приема медикаментов и дальнейшее ведение медицинского лечения.
            </li>
        </ol>
    </p>
</div>
{% endblock content-xxl %}