{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">400</h1>
                    <h1 class="mb-4">Плохой запрос</h1>
                    <p class="mb-4">Ваш браузер отправил запрос, который этот сервер не смог понять!</p>
                    <a class="btn btn-primary py-3 px-5" href="{% url 'index' %}">На главную страницу</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->
{% endblock content-xxl %}
        