{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}

<div class="diagnostics p-3">
	<h2 class="mb-4">Диагностика</h2>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Эффективное лечение в Европе невозможно без качественной диагностики. Поэтому, прежде чем планировать лечение в
		Германии, необходимо приложить
		выяснение природы заболевания. Диагностика в Германии включает широкие лабораторные исследования,
		магнитно-резонансную томографию внутренних органов,
		ультразвуковое исследование и ряд других тестов.
	</p>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Фирма БаварияМед предлагает прохождениеи полной и лучших немецких клиниках. Срок всех диагностических процедур
		от одного дня до одной недели.
		В немецких клиниках вам будет обеспечен профессиональный подход. Вы сможете совместить диагностическую программу
		с деловой поездкой,
		если у вас и вашей компании есть какие-либо интересы в Германии.
	</p>
	<p>Стоимость диагностики в Германии начинается от <b> 500 евро.</b></p>
</div>

{% include 'include/diagnostics-block.html' %}   

{% endblock content-xxl %}