{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}

<div class="diagnostics p-3">
	<h2 class="mb-4">Диагностика</h2>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Эффективное лечение в Европе невозможно без качественной диагностики. Поэтому, прежде чем планировать лечение в Германии, необходимо приложить 
		выяснение природы заболевания. Диагностика в Германии включает широкие лабораторные исследования, магнитно-резонансную томографию внутренних органов, 
		ультразвуковое исследование и ряд других тестов.
	</p>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Фирма БаварияМед предлагает прохождениеи полной и лучших немецких клиниках. Срок всех диагностических процедур от одного дня до одной недели. 
		В немецких клиниках вам будет обеспечен профессиональный подход. Вы сможете совместить диагностическую программу с деловой поездкой, 
		если у вас и вашей компании есть какие-либо интересы в Германии.
	</p>
	<p>Стоимость диагностики в Германии начинается от <b> 500 евро.</b></p>
</div>

<div class="treatment p-3">
	<h2 class="mb-4">Программы по диагностике все включено</h2>
	<table id="diagnostics__table">
		<tbody><tr>
			<td class="analysis" rowspan="2"><strong>Обследование</strong></td>
			<td colspan="3"><strong>Для женщин</strong></td>
			<td colspan="3"><strong>Для мужчин</strong></td>
		</tr>
		<tr class="programms">
			<td>Вип</td>
			<td>Бизнес</td>
			<td>Базис</td>
			<td>Вип</td>
			<td>Бизнес</td>
			<td>Базис</td>
		</tr>
		<tr>
			<td class="analysis">Период диагностики, дни</td>
			<td>3</td>
			<td>3</td>
			<td>2</td>
			<td>3</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<td class="analysis">Беседа с лечащим врачом, сбор врачебного анамнеза</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		<tr>
			<td class="analysis">Обследования у&nbsp;гинеколога</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">Обследования у&nbsp;уролога</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		<tr>
			<td class="analysis">Расширенный анализ крови: общие показатели определения уровня электролитов, жирового обмена, показатели иммунного статуса, функции печени почек, поджелудочной железы, щитовидной железы, определение по&nbsp;крови хеликобактера</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		<tr>
			<td class="analysis">МРТ</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">ЭКГ в&nbsp;покое и&nbsp;с&nbsp;нагрузкой, эхокардиография</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		
		<tr>
			<td class="analysis">Цветная эхокардиография</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">УЗИ печени, почек, поджелудочной железы, селезенки мочевого пузыря, щитовидной железы, кровеносных сосудов</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		
		<tr>
			<td class="analysis">Цветной допплер, обследование шейных сосудов</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		<tr>
			<td class="analysis">Маммография</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">Гастроскопия</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">Колоноскопия</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="analysis">Заключительная беседа</td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
			<td><img src="{% static '/images/main/services/diagnosis/bullet.gif' %}" alt="+"></td>
		</tr>
		
		
		<tr>
			<td class="analysis"><strong>Стоимость программы</strong></td>
			<td>7<span class="order">200</span>&nbsp;€</td>
			<td>4<span class="order">200</span>&nbsp;€</td>
			<td>2<span class="order">500</span>&nbsp;€</td>
			<td>6<span class="order">900</span>&nbsp;€</td>
			<td>4<span class="order">200</span>&nbsp;€</td>
			<td>2<span class="order">500</span>&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis">Проживание в&nbsp;гостинице&nbsp;3*, стандартный номер</td>
			<td colspan="6">100&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis">Проживание в&nbsp;гостинице&nbsp;4*, стандартный номер</td>
			<td colspan="6">250&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis">Проживание в&nbsp;гостинице&nbsp;5*</td>
			<td colspan="6">350&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis" colspan="7"><strong>Дополнительная диагностика</strong></td>
		</tr>
		<tr>
			<td class="analysis"><strong>Ортопедия</strong>: сбор врачебного анамнеза, определение зоны болевых ощущений, диагностика позвоночника, при необходимости МРТ шейного, грудного и&nbsp;поясничного отдела позвоночника и&nbsp;сосудов. При диагностировании протрузии дисков, тактика лечения зависит от&nbsp;величины грыж, имеющихся спаечных процессов</td>
			<td colspan="6">500&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>МРТ позвоночника</strong></td>
			<td colspan="6">1<span class="order">500</span>&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>МРТ коленного 1 МРТ простаты сустава</strong></td>
			<td colspan="6">1<span class="order">070</span>&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>МРТ простаты</strong></td>
			<td colspan="6">1<span class="order">180</span>&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>Гастроэнтерологическое обследование</strong>: гастро-колоноскопия с&nbsp;цветными снимками проблемных зон (при необходимости удаление полипов, прижигание геммороидальных узлов, обследование желудочного сока на&nbsp;хелакобактер), гистологические и&nbsp;лабораторные обследования. Обсуждение результатов и&nbsp;составление плана дальнейшего обследования и/или лечения</td>
			<td colspan="6">1<span class="order">600</span>&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>Диагностика по&nbsp;заболеваниям сердца и&nbsp;сосудов</strong>, хронические изменения функций сердца, операции по&nbsp;враждебным дефектам сердца, стенирование и&nbsp;шунтирование сосудов, диагностика и&nbsp;распознание на&nbsp;ранней стадии инфаркта. Проводимые мероприятия: ЭКГ и&nbsp;ЭКГ с&nbsp;нагрузкой</td>
			<td colspan="6"><i>Звоните: <font style="color: #FF0000">+49 16 2428-9952</font></i></td>
		</tr>
		<tr>
			<td class="analysis">Эхокардиография, измерение периферического артериального давления, функциональная диагностика легких, измерение кислорода, спирометрия и&nbsp;спироэргометрия, лабораторная диагностика. Дальнейшая диагностика определяется по&nbsp;необходимости</td>
			<td colspan="6"><i>Звоните: <font style="color: #FF0000">+49 16 2428-9952</font></i></td>
		</tr>
		<tr>
			<td class="analysis"><strong>Офтальмодиагностика</strong> включает в&nbsp;себя: оценку показателей зрительных функций, прецизионное определение отдельных параметров составляющих систем органов зрения, микроскопическую (на&nbsp;микронном уровне) оценку строения структур зрительной системы, специальные микробиологические исследования, основанные на&nbsp;самых последних научно-технических достижениях в&nbsp;современной офтальмологии.<br><br>Важными элементами полноценной диагностики являются также: четкое определение коррегируемой и&nbsp;некоррегируемой остроты зрения с&nbsp;помощью автоматизированных фороптеров и&nbsp;рефрактометров, оценка полей зрения посредством компьютеризированного периметра, приборная оценка цветового, контрастного и&nbsp;светочувствительного восприятия, оптическая когерентная послойная топографо-морфологическая томография всех структур глаза, флюоресцентная ангиография сосудистых структур глаза, биомикроскопия, исследование внутренних структур глаза</td>
			<td colspan="6"><i>Звоните: <font style="color: #FF0000">+49 16 2428-9952</font></i></td>
		</tr>
		<tr>
			<td class="analysis"><strong>Обследование флейболога</strong>: ультразвуковая диагностика поверхностных и&nbsp;глубоких вен, доплеровское сканирование клапанов конечностей</td>
			<td colspan="6">520&nbsp;€</td>
		</tr>
		<tr>
			<td class="analysis"><strong>ЛОР-диагностика</strong>: полная диагностика носовых пазух, гортани, ушей, УЗИ гайморовых полостей лабор, исследование крови на&nbsp;инфекции и&nbsp;бактерии, при желании тест на&nbsp;аллергию</td>
			<td colspan="6">490&nbsp;€</td>
		</tr>
	</tbody></table>
</div>
{% endblock content-xxl %}