{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}

<div class="diagnostics p-3">
	<h2 class="mb-4">Диагностика</h2>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Эффективное лечение в Европе невозможно без качественной диагностики. Поэтому, прежде чем планировать лечение в
		Германии, необходимо приложить
		выяснение природы заболевания. Диагностика в Германии включает широкие лабораторные исследования,
		магнитно-резонансную томографию внутренних органов,
		ультразвуковое исследование и ряд других тестов.
	</p>
	<p class="mb-4" style="text-align: justify; text-indent: 45px;">
		Фирма БаварияМед предлагает прохождениеи полной и лучших немецких клиниках. Срок всех диагностических процедур
		от одного дня до одной недели.
		В немецких клиниках вам будет обеспечен профессиональный подход. Вы сможете совместить диагностическую программу
		с деловой поездкой,
		если у вас и вашей компании есть какие-либо интересы в Германии.
	</p>
	<p>Стоимость диагностики в Германии начинается от <b> 500 евро.</b></p>
</div>

{% include 'include/diagnostics-block.html' %}   

<section class="accommodation">
	<h2 class="mb-4 text-center">Проживание</h2>
	<div class="accommodation__block d-flex mb-3">
		<div class="accommodation__item">
			<i class="fa-solid fa-star startion"></i>
			<i class="fa-solid fa-star startion startion-top"></i>
			<i class="fa-solid fa-star startion"></i>
			<p class="mt-3">Проживание в гостинице</p>
			<div class="price">от 100<sub>€</sub></div>
		</div>
		<div class="accommodation__item">
			<i class="fa-solid fa-star startion"></i>
			<i class="fa-solid fa-star startion startion-top"></i>
			<i class="fa-solid fa-star startion startion-top"></i>
			<i class="fa-solid fa-star startion"></i>
			<p class="mt-3">Проживание в гостинице</p>
			<div class="price">от 250<sub>€</sub></div>
		</div>
		<div class="accommodation__item">
			<i class="fa-solid fa-star startion"></i>
			<i class="fa-solid fa-star startion startion-top"></i>
			<i class="fa-solid fa-star startion startion-one"></i>
			<i class="fa-solid fa-star startion startion-top"></i>
			<i class="fa-solid fa-star startion"></i>
			<p class="mt-3">Проживание в гостинице</p>
			<div class="price">от 350<sub>€</sub></div>
		</div>
	</div>
	<p>* Цены гостиниц указаны на период без учета проведения выставок, Октоберфеста и праздничных дней.</p>
</section>

<section class="diagnostics mt-4">
	<div>
		<h3>Дополнительная диагностика</h3>
		<ul class="mt-3 diagnostics-list">
			<li><b>Ортопедия:</b> сбор врачебного анамнеза, определение зоны болевых ощущений, диагностика позвоночника, при необходимости МРТ шейного, грудного и поясничного отдела позвоночника и сосудов. При диагностировании протрузии дисков, тактика лечения зависит от величины грыж, имеющихся спаечных процессов</li>
			<li><b>МРТ позвоночника</b></li>
			<li><b>МРТ коленного 1 МРТ простаты сустава</b></li>
			<li><b>МРТ простаты</b></li>
			<li><b>Гастроэнтерологическое обследование:</b> гастро-колоноскопия с цветными снимками проблемных зон (при необходимости удаление полипов, прижигание геммороидальных узлов, обследование желудочного сока на хелакобактер), гистологические и лабораторные обследования. Обсуждение результатов и составление плана дальнейшего обследования и/или лечения</li>
			<li><b>Диагностика по заболеваниям сердца и сосудов</b>, хронические изменения функций сердца, операции по враждебным дефектам сердца, стенирование и шунтирование сосудов, диагностика и распознание на ранней стадии инфаркта. Проводимые мероприятия: ЭКГ и ЭКГ с нагрузкой</li>
			<li><b>Эхокардиография</b>, измерение периферического артериального давления, функциональная диагностика легких, измерение кислорода, спирометрия и спироэргометрия, лабораторная диагностика. Дальнейшая диагностика определяется по необходимости</li>
			<li><b>Офтальмодиагностика</b> включает в себя: оценку показателей зрительных функций, прецизионное определение отдельных параметров составляющих систем органов зрения, микроскопическую (на микронном уровне) оценку строения структур зрительной системы, специальные микробиологические исследования, основанные на самых последних научно-технических достижениях в современной офтальмологии. Важными элементами полноценной диагностики являются также: четкое определение коррегируемой и некоррегируемой остроты зрения с помощью автоматизированных фороптеров и рефрактометров, оценка полей зрения посредством компьютеризированного периметра, приборная оценка цветового, контрастного и светочувствительного восприятия, оптическая когерентная послойная топографо-морфологическая томография всех структур глаза, флюоресцентная ангиография сосудистых структур глаза, биомикроскопия, исследование внутренних структур глаза</li>
			<li><b>Обследование флейболога: </b>ультразвуковая диагностика поверхностных и глубоких вен, доплеровское сканирование клапанов конечностей</li>
			<li><b>ЛОР-диагностика: </b>полная диагностика носовых пазух, гортани, ушей, УЗИ гайморовых полостей лабор, исследование крови на инфекции и бактерии, при желании тест на аллергию</li>
		</ul>
	</div>
</section>

<section class="mt-4">
	<div>
		<h4>Исследования крови</h4>
		<p>Различные исследования крови нужны для диагностики многих заболеваний. В наших больницах проводят:</p>
		<ul class="mt-3 diagnostics-list">
			<li>биохимическое исследование крови и развернутая картина красной крови (ретикулоциты, коагулограмма, общий холестерин, HDL-холестерин, LDL-холестерин, триглицириды);</li>
			<li>показатели печени (SGOT, SGPT, Gamma-GT, LDH, щелочная фосфотаза, холинэстераза, билирубин);</li>
			<li>показатели почек (креатинин и мочевина, показатель гломерулярной фильтрации);</li>
			<li>показатель подагры (мочевая кислота);</li>
			<li>показатели воспаления (CRP, лейкоциты, СОЭ, электрофорез);</li>
			<li>электролиты и минеральные вещества (калий, железо, кальций, магний, натрий хлорид):</li>
			<li>показатели сохранения железа (уровень железа, ферритин, трансферрин);</li>
			<li>иммунная система (иммуноглобулины A, G, M, электрофорез);</li>
			<li>лабораторное исследование на риск тромбообразования;</li>
			<li>показатели свертывания кровиe (Quick, INR, PTT, TZ);</li>
			<li>цветная допплеровская сонография больших сосудов шеи и сосудов ног;</li>
			<li>исследование на гормональный статус;</li>
			<li>исследование на основные онкомаркеры.</li>
		</ul>
		<img src="{% static 'images/services/diagnosis/2.jpg' %}" alt="Исследования крови" class="w-100">
	</div>
	<div class="mt-4">
		<h4>Гастроскопия</h4>
		<p>При проведении гастроскопии или колоноскопии делаются цветные снимки проблемных зон и при необходимости удаляются полипы, прижигаются геморроидальные узлы. Также проводятся гистологиеские и лабораторные исследования. Показания для проведения гастроскопии:</p>
		<ul class="mt-3 diagnostics-list">
			<li>расстройства при глотания неизвестного генеза;</li>
			<li>повторяющаяся изжога;</li>
			<li>длительная тошнота, непрекращающиеся рвотные позывы;</li>
			<li>анемия (малокровие).</li>
		</ul>
		<p>Гастроскопия необходима для лечения или контроля кровотечений в области брюшины (язва желудка) и послеоперационного контроля.</p>
	</div>

	<div class="mt-4">
		<h4>Бронхоскопия</h4>
		<p>Бронхоскопия проводится в случае подозрения на заболевания бронхов и легких. Показания для проведения бронхоскопии:</p>
		<ul class="mt-3 diagnostics-list">
			<li>рентгенографические изменения в области легких неизвестного генеза (например, изменения легочных узлов);</li>
			<li>опухоли легких и бронхов;</li>
			<li>респираторные инфекции;</li>
			<li>кашель или кашель с кровью неизвестного генеза в течение продолжительного времени.</li>
		</ul>
	</div>

	<div class="mt-4">
		<h4>Ультразвуковое исследование (УЗИ)</h4>
		<p>Ультразвуковое исследование используется для диагностики и мониторинга заболеваний во многих областях. Мы предлагаем УЗИ: </p>
		<ul class="mt-3">
			<li>печени;</li>
			<li>желчного пузыря;</li>
			<li>селезенки;</li>
			<li>поджелудочной железы;</li>
			<li>почек;</li>
			<li>мочевого пузыря;</li>
			<li>предстательной железы;</li>
			<li>матки;</li>
			<li>лимфатических узлов и сосудов.</li>
		</ul>
		<img src="{% static 'images/services/diagnosis/1.jpg' %}" alt="Ультразвуковое исследование (УЗИ)" class="w-100">
		<p>УЗИ брюшной полости представляет подробную информацию о заболевании, помогая в диагностике размеров и структурных изменений, а также помогая отслеживать доброкачественные или злокачественные опухоли и метастазы. К исследованиям брюшной полости также относится диагностика брюшной артерии (аорты) и большой полой вены.</p>
	</div>

	<div class="mt-4">
		<h4>Урологические обследования</h4>
		<p>В наших клиниках можно также пройти урологическое клиническое обследование в Германии. Оно включает:</p>
		<ul class="mt-3 diagnostics-list">
			<li>обследование прямой кишки и простаты;</li>
			<li>ультразвуковое обследование почек на наличие камней и изменение функции почек, мочевого пузыря, гонад и простаты, урофлуометрия;</li>
			<li>лабораторное исследование мочи и мочевого осадка, микробиологическое исследование мазков из уретры;</li>
			<li>лабораторное исследование крови (общая картина крови, клиническая биохимия, основные показатели обмена веществ, функция почек, иммунологический спектр, онкомаркеры).</li>
		</ul>
	</div>

	<div class="mt-4">
		<h4>Диагностика щитовидной железы</h4>
		<p>Лабораторная диагностика заболеваний щитовидной железы помогает определить аутоиммунных заболеваний. Самое распространенное исследование щитовидной железы — УЗИ.</p>
	</div>

	<div class="mt-4">
		<h4>Обследования грудной клетки</h4>
		<p>Ультразвуковое исследование сердца и сосудов диагностирует такие сосудистые заболевания, как стеноз или закупорка сосудов. Обследования области грудной клетки производят средствами маммографии, УЗИ и МРТ (магнитно-резонансная томография) молочных желез. Своевременное исследование поможет выявить рак молочной железы на ранней стадии. Определить злокачественность или доброкачественность опухоли возможно только при гистологическом исследовании.</p>
	</div>

	<div class="mt-4">
		<h4>Гинекологическое обследование</h4>
		<p>Гинекологическое обследование в Германии включает консультацию с врачом и сбор анамнеза:</p>
		<ul class="mt-3 diagnostics-list">
			<li>полное пальпаторное обследование женских органов;</li>
			<li>забор мазков и их цитологическое обследование и экспертиза;</li>
			<li>сонография обследуемого органа (УЗИ);</li>
			<li>пальпаторное обследование молочных желез;</li>
			<li>анализ крови на гормональный статус щитовидной железы и общий анализ.</li>
		</ul>
	</div>

	<div class="mt-4">
		<h4>Электрокардиограмма (ЭКГ)</h4>
		<p>ЭКГ диагностирует различные заболевания сердца. Изменения в кривой ЭКГ выявляет следующие заболевания:</p>
		<ul class="mt-3 diagnostics-list">
			<li>сердечный приступ;</li>
			<li>заболевания коронарных артерий;</li>
			<li>передозировка некоторых лекарственных препаратов;</li>
			<li>дефицит или избыток некоторых минералов;</li>
			<li>фибрилляция предсердий и трепетание, фибрилляция желудочков и трепетание;</li>
			<li>замедленное сердцебиение (брадикардия) при заболеваниях синусового узла или АВ-узла;</li>
			<li>воспаление сердечной мышцы (миокардит);</li>
			<li>перикардит</li>
		</ul>
	</div>

	<div class="mt-4">
		<h4>Магнитно-резонансная томография (МРТ)</h4>
		<p>МРТ обеспечивает точное изображение всех тканей организма, в особенности мягких тканей, хрящей, межпозвоночных дисков и мозга. Даже самые незначительные воспалительные очаги могут быть обнаружены на МРТ. Структуры с низким содержанием воды (кости или легкие) не поддаются томографии из-за низкого качества изображения.</p>
		<img src="{% static 'images/services/diagnosis/3.jpg' %}" alt="Магнитно-резонансная томография (МРТ)" class="w-100">
	</div>

	<div class="mt-4">
		<h4>Биопсия костного мозга</h4>
		<p>Биопсия костного мозга проводится при подозрении на заболевания кровеносной системы. К таким заболеваниям относятся:</p>
		<ul class="mt-3 diagnostics-list">
			<li>некоторые формы анемии (малокровие);</li>
			<li>различные формы лейкемии (заболевание белых клеток крови);</li>
			<li>аплазия костного мозга;</li>
			<li>истинная полицитемия;</li>
			<li>заболевания лимфатической системы (лимфома);</li>
			<li>метастазы некоторых опухолей (например, рак простаты, рак молочной железы), которые могут возникнуть в костном мозге.</li>
		</ul>
	</div>


	<div class="mt-4">
		<h4>Неврологические исследования</h4>
		<p>Обследование неврологического больного базируется на данных анамнеза, клинических признаках, течении патологического процесса и общем обследовании, а также включает направленное неврологическое обследование:</p>
		<ul class="mt-3 diagnostics-list">
			<li>измерение периферического артериального давления;</li>
			<li>транскраниальная доплеровская сонография;</li>
			<li>МРТ или КТ головы;</li>
			<li>исследование акустически-вызванных потенциалов ствола мозга.</li>
		</ul>
		<img src="{% static 'images/services/diagnosis/4.jpg' %}" alt="Неврологические исследования" class="w-100">
	</div>

	<div class="mt-4">
		<h4>Исследование кровеносных сосудов (рентген и различные виды ангиографии)</h4>
		<p>Ангиография дает информацию о характере и степени сосудистых заболеваний диагностирует частичное сужение сосудов или полное их закрытие и другие изменения. Флебограмма выявляет степени тромбоза. Ангиографические исследования используют при:</p>
		<ul class="mt-3 diagnostics-list">
			<li>исследованиях сердца с помощью катетера с целью диагностики коронарной артерии;</li>
			<li>артериография на ногах и сосудов таза для выявления сужения сосудов, например, у больных диабетом;</li>
			<li>флебография глубоких вен ног и тазового венозного тромбоза при подозрении и составлении плана лечения варикозного расширения вен;</li>
			<li>церебральная ангиография (исследование сосудов головного мозга, например, при подозрении на кровоизлияние в мозг).</li>
		</ul>
	</div>

	<div class="mt-4">
		<h4>Позитронно-эмиссионная томография (ПЭТ)</h4>
		<p>ПЭТ — это новейший метод медицинской радиоизотопной диагностики, основанный на применении радиофармпрепаратов (РФП), меченных изотопами — позитронными излучателями. ПЭТ позволяет диагностировать многие виды патологии, но особенно эффективно — опухолевые процессы, когда опухоль не превышает 1 мм. Метод позволяет выявлять рецидивы опухолевого процесса, а также местные и отдаленные метастазы, практически на нулевой стадии (в области грудной железы, прямой кишки, щитовидной железы, легких и др.)</p>
		<p>Мониторинг лечения различных опухолей, включая рак молочной железы, легкого, прямой кишки, яичников, опухолей головы, шеи, щитовидной железы, меланомы и лимфомы невозможен без помощи ПЭТ. Это исследование позволяет практически на два года раньше поставить диагноз заболевания, чем другими методами обследования. ПЭТ достоверно диагностирует уже на ранних стадиях болезни Альцгеймера, а также многие патологические процессы в грудной железе, печени, легких, щитовидной железе, прямой кишке, головном мозге, в сердечной патологии, связанной с нарушением кровообращения. Эффективность хирургического вмешательства аортокоронарного шунтирования во многом зависит от результатов исследования ПЭТ.</p>
	</div>

	<div class="mt-4">
		<h4>Диагностика проблем позвоночника</h4>
		<p>Данная диагностика включает сбор врачебного анамнеза, определение зоны болевых ощущений, диагностику самого позвоночника, МРТ шейного, грудного и поясничного отдела позвоночника и сосудов.</p>
		<p>При диагностике протрузии дисков тактика лечения зависит от величины грыж и имеющихся спаечных процессов. Еще несколько лет назад пациентам с грыжами диска предлагали операции как единственный метод избавление от боли. С течением времени было признано, что не всегда эти методы оправдывают себя, поскольку иногда последующие осложнения приводят к пожизненной боли и инвалидности. Катетерная терапия по методике Ратца позволяет мягко и эффективно устранить проблемы с грыжами дисков.</p>
		<p>Каждый случай хронических болей в спине требует индивидуального рассмотрения и разработки тактики лечения, в т. ч. исключающих хирургическое вмешательство.</p>
	</div>
</section>

{% endblock content-xxl %}