{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="diagnostics p-3">
    <h3 class="mb-4"><a href="{% url 'diagnostics' %}">Диагностика</a></h3>
    <p class="mb-4" style="text-align: justify; text-indent: 45px;">
        Самое главное в лечении — это правильно поставленный диагноз. Иногда неуточненный или не неверно поставленный диагноз может сбить с толку целую бригаду 
        специалистов и может привести к тому, что ценное время окажется упущенным или, что еще хуже, приведет к ухудшению состояния. Даже если врачи на родине 
        поставили вам диагноз, всегда стоит пройти диагностику еще раз, ведь у немецких специалистов есть и современное оборудование, и огромный опыт в постановке 
        диагнозов различной сложности. Во всех странах диагностике уделяется много внимания, недаром в США даже есть сериал «House M. D.» («Доктор Хаус»), 
        где главный герой — врач-диагност.
    </p>
</div>
<div class="treatment p-3">
    <h3 class="mb-4"><a href="{% url 'support' %}">Сопровождение лечения</a></h3>
    <p class="mb-4" style="text-align: justify; text-indent: 45px;">
        Мы предлагаем не только медицинские услуги наивысшего качества, но и самый лучший сервис для наших клиентов. Мы создаем оптимальные условия для скорейшего 
        выздоровления наших клиентов, окружая их заботой и комфортом. Наши сотрудники готовы оказать полную поддержку пациенту, оказавшемуся вдали от родины. 
        Мы готовы обеспечить встречу в аэропорту, все необходимые переезды, познакомить клиента с местными особенностями, взять на себя решение возникших проблем и 
        даже обеспечить экскурсионной программой в период реабилитации.
    </p>
</div>
<div class="treatment p-3">
    <h3 class="mb-4">Лечение по специализации</h3>
    <p class="mb-4" style="text-align: justify; text-indent: 45px;">
        После успешного проведения диагностики мы сможем подобрать вам именно то лечебное заведение, которое вам подходит. Среди <a href="#">наших клиник</a> есть как многопрофильные 
        учреждения, так и специализирующиеся на определенном виде заболеваний. Для каждого нашего клиента разрабатывается индивидуальная программа лечения, 
        учитывающая все особенности заболевания и пожелания самого клиента. Специализации наших клиник:
    </p>
</div>
{% endblock content-xxl %}