{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Header Start -->
 <div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Медицинские услуги</h1> 
                <nav aria-label="breadcrumb animated fadeIn">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item text-body active" aria-current="page">Медицинские услуги</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6 animated fadeIn">
            <img class="img-fluid" src="{% static 'images/main/clinics/carousel-1.jpg' %}" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Mega carousel Start -->
{% include 'include/mega-carousel.html' %}
<!-- Mega carousel End -->


<div class="container-xxl m-auto row">
    <div class="col-lg-9 col-12">
        <div class="diagnostics p-3">
            <h2 class="mb-4"><a href="{% url 'diagnostics' %}">Диагностика</a></h2>
            <p class="mb-4" style="text-align: justify; text-indent: 45px;">
                Самое главное в лечении — это правильно поставленный диагноз. Иногда неуточненный или не неверно поставленный диагноз может сбить с толку целую бригаду 
                специалистов и может привести к тому, что ценное время окажется упущенным или, что еще хуже, приведет к ухудшению состояния. Даже если врачи на родине 
                поставили вам диагноз, всегда стоит пройти диагностику еще раз, ведь у немецких специалистов есть и современное оборудование, и огромный опыт в постановке 
                диагнозов различной сложности. Во всех странах диагностике уделяется много внимания, недаром в США даже есть сериал «House M. D.» («Доктор Хаус»), 
                где главный герой — врач-диагност.
            </p>
        </div>
        <div class="treatment p-3">
            <h2 class="mb-4"><a href="#">Сопровождение лечения</a></h2>
            <p class="mb-4" style="text-align: justify; text-indent: 45px;">
                Мы предлагаем не только медицинские услуги наивысшего качества, но и самый лучший сервис для наших клиентов. Мы создаем оптимальные условия для скорейшего 
                выздоровления наших клиентов, окружая их заботой и комфортом. Наши сотрудники готовы оказать полную поддержку пациенту, оказавшемуся вдали от родины. 
                Мы готовы обеспечить встречу в аэропорту, все необходимые переезды, познакомить клиента с местными особенностями, взять на себя решение возникших проблем и 
                даже обеспечить экскурсионной программой в период реабилитации.
            </p>
        </div>
        <div class="treatment p-3">
            <h2 class="mb-4">Лечение по специализации</h2>
            <p class="mb-4" style="text-align: justify; text-indent: 45px;">
                После успешного проведения диагностики мы сможем подобрать вам именно то лечебное заведение, которое вам подходит. Среди <a href="#">наших клиник</a> есть как многопрофильные 
                учреждения, так и специализирующиеся на определенном виде заболеваний. Для каждого нашего клиента разрабатывается индивидуальная программа лечения, 
                учитывающая все особенности заболевания и пожелания самого клиента. Специализации наших клиник:
            </p>

        </div>
    </div>

    <div class="col-lg-3 col-12 sidebar_box">
        {% include 'include/slider-block.html' %}
    </div>

    {% include 'include/contact-block.html' %}
</div>

{% endblock content %}