{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
<div class="diagnostics p-3">
    <h2 class="mb-4">{{ title }}</h2>
    <p class="mb-4" style="text-align: justify; text-indent: 45px;">
        Человеку, прибывшему на лечение в другую страну, тяжело в психологическом плане без поддержки родных и близких. Мы готовы помочь с размещением сопровождающих пациента родственников в подходящих гостиницах с учетом их пожеланий и пожеланий пациента. С нами сотрудничают многие европейские гостиничные сети. Если у пациента или его родственников нет виз, то мы готовы посодействовать в этом. В сжатые сроки мы можем оформить все необходимые визовые документы.
    </p>
    <p>
        От вас потребуются документы:
        <ul>
            <li>заграничный паспорт и копия страниц с личными данными;</li>
            <li>общегражданский паспорт и копии страниц с личными данными, с регистрацией по месту жительства и с указанием всех выданных загранпаспортов;</li>
            <li>две заполненные и собственноручно подписанные анкеты-заявления на выдачу шенгенской визы с вклеенными фотографиями и дополнительно одна такая же фотография для визы;</li>
            <li>справка с места работы в оригинале;</li>
            <li>полис медицинского страхования (оригинал и копия), действительный на весь срок пребывания на территории всех государств-участников Шенгенского соглашения с минимальной страховой суммой 30 000 евро;</li>
            <li>визовый сбор в размере 35 евро в российских рублях по действующему обменному курсу.</li>
        </ul>
    </p>
    <p style="text-align: justify; text-indent: 45px;">
        Для каждого несовершеннолетнего ребенка необходимо подать две отдельные анкеты-заявления, подписанные лицами, обладающими родительскими или опекунскими правами. 
        Кроме того, в обязательном порядке необходимо предоставить следующие документы:
        <ul>
            <li>
                нотариально заверенное заявление о согласии (в оригинале с одной копией и с переводом на немецкий язык), распространяющееся на все государства Шенгенского соглашения, 
                от имени лиц, обладающих родительскими или опекунскими правами, которые в связи с оформлением визы для ребенка не приходят лично в визовый отдел;
            </li>
            <li>оригинал и копию свидетельства о рождении ребенка.</li>
        </ul>
    </p>
    <p>
        Пациенты, отправляющиеся на лечение в Германию, предоставляют:
        <ul>
            <li>подтверждение клиники о предстоящем нахождении в стационаре с указанием предположительной стоимости и срока пребывания;</li>
            <li>
                подтверждение наличия финансовых средств для пребывания и лечения (в качестве альтернативы подтверждение клиники о произведенной оплате. 
                Как правило, оно должно иметь подписи двух должностных лиц).
            </li>
        </ul>
    </p>
    <img src="{% static 'images/services/support/1.jpg' %}" alt="" class="mb-3 w-100">
    <p style="text-align: justify; text-indent: 45px;">
        Наша компания предоставит все необходимые документы и поможет максимально ускорить получение визы вплоть до срочной госпитализации в Германию, 
        когда от связи с нами до прибытия в немецкий госпиталь проходит несколько часов.
    </p>
    <img src="{% static 'images/services/support/2.jpg' %}" alt="" class="mb-3 w-100">
    <p style="text-align: justify; text-indent: 45px;">
        С нами сотрудничают несколько авиакомпаний, которые помогут в транспортировке даже самых тяжелых больных. В нашем распоряжении самые современные самолеты, оборудованные специально для перевозки пациентов. В дороге пациента, как правило, сопровождает врач-реаниматолог.
    </p>
    <img src="{% static 'images/services/support/3.jpg' %}" alt="" class="mb-3 w-100">
    <p style="text-align: justify; text-indent: 45px;">
        Наши сотрудники готовы оказать полную поддержку пациенту, оказавшемуся вдали от родины. Мы готовы обеспечить встречу в аэропорту, все необходимые переезды, 
        познакомить клиента с местными особенностями, взять на себя решение возникших проблем и даже обеспечить экскурсионной программой в период реабилитации или 
        свободное время. После прохождения лечения и реабилитации мы готовы оказать поддержку для возвращения на родину. В случае, если лечение пройдет не так удачно, 
        как хотелось бы, мы готовы взять на себя заботы по транспортировке и передаче родным и близким на родине.
    </p>
</div>

{% endblock content-xxl %}