{% extends 'base/base.html' %}
{% load static %}

{% block content-xxl %}
 
<div class="diagnostics p-3">
    <h2 class="text-center mb-4">{{ title }}</h2>
    <p style="text-align: justify; text-indent: 45px;">
        Все клиники в Германии, с которыми мы сотрудничаем — это учреждения высочайшего уровня, оборудованные по последнему слову техники, 
        в которых работают самые высококвалифицированные специалисты не только из Германии, но и из многих стран мира. Этим специалистам под силу решить 
        даже самую сложную задачу благодаря их огромному опыту, квалификации и суперсовременному оборудованию. Кроме того, помимо лечения, наши медицинские 
        учреждения предлагают полную реабилитацию, которая очень важна для того, чтобы вновь почувствовать себя здоровым.
    </p>
    
    <ul>
        {% for clinic in clinics %}
            <li><a href="{{ clinic.get_absolute_url }}">{{ clinic.title }}</a></li>
        {% endfor %}
    </ul>

    <p style="text-align: justify; text-indent: 45px;">
        Наши пациенты сами выбирают, в какой клинике Германии им лучше проходить лечение, однако наши специалисты всегда смогут помочь и подсказать, 
        чем одно учреждение отличается от другой, поделиться некоторыми особенностями, которые узнаются только в процессе длительного сотрудничества с ними. 
        Существуют многопрофильные больницы, которые занимаются общей диагностикой и лечением основной массы болезней, в которых также есть отделения с основной 
        специализацией, а есть госпитали с определенной направленностью, например, кардиологическая, онкологическая или гинекологическая.
    </p>
</div>
{% endblock content-xxl %}