{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="diagnostics p-3">
    <p style="text-align: justify; text-indent: 45px;">
        Мы рады Вас приветствовать на нашем сайте, какой занимается организацией лечения в Мюнхене.
    </p>
    <p style="text-align: justify; text-indent: 45px;">
        Очень часто вы не можете получить точный  диагноз или хотите услышать второе мнение специалистов из Германии. 
        Вы не уверены в правильности тактики лечения и просто хотите пройти диагностику в лучших  немецких клиниках.
    </p>
    <p style="text-align: justify;">Мы предлагаем  вам уникальную возможность в короткий срок получить мнение специалистов из  ведущих Мюнхенских клиник.</p>
    <p style="text-align: justify;">Для этого вам нужно только заполнить заявку или обратиться в наш <a href="#contact-info">сервисный центр</a> ( указать телефон и почтовый адрес )</p>
    <p style="text-align: justify;">
        По предоставленным выпискам ,анализам крови и снимкам, какие мы незамедлительно оправляем в Германию вы получаете ответ в короткое время по диагнозу и тактике лечения.
    </p>
    <p style="text-align: justify;">
        Самое важное, что у нас есть, это здоровье. Мы часто теряем драгоценное времени на очереди к врачам и сомнительные диагнозы. 
        У нас вы получите современное лечение мировых стандартов. Лучшие специалисты в области кардиологии, ортопедии, хирургии, ЛОР, офтольмологии, 
        урологии, нейрохирургии, онкологии могут помочь вам <br>Стоимость услуг зависит от предоставленных выписок и сложности диагноза.
    </p>
    <p style="text-align: justify;">
        При необходимости оперативного вмешательства ,мы организуем визовую поддержку для пациента и сопровождающего лица. Организуем встречу в аэропорту и полностью 
        координируем ваше прибывание в Германии. Организовываем встречи с врачами и  предоставляем услуги переводчика.Вы не будете чувствовать языкового барьера.
    </p>
    <p style="text-align: justify;">
        Все услуги носят индивидуальный характер. Свяжитесь прямо сейчас с нашим сервисным центром (телефон и ел. Адрес) и вы получите полную информацию по организации лечения и диагностики в Германии.
    </p>
    <p style="text-align: justify;"><b>Мы заботимся о вас и вашем здоровье.</b></p>
</div>
{% endblock content %}