{% extends 'base/base.html' %}
{% load static imagekit %}

{% block content-xxl %}
<!-- diagnostics Start -->
<div class="container-xxl diagnostics">
    <div class="container">
        <div class="wow fadeIn" data-wow-delay="0.5s">
            <h2 class="mb-4 text-center">Уважаемые Дамы и Господа </h2>
            <p style="text-align: justify; text-indent: 45px;">
                Мы рады Вас приветствовать на нашем сайте, какой занимается организацией лечения в Мюнхене.
            </p>
            <p style="text-align: justify; text-indent: 45px;">
                Очень часто вы не можете получить точный  диагноз или хотите услышать второе мнение специалистов из Германии. 
                Вы не уверены в правильности тактики лечения и просто хотите пройти диагностику в лучших  немецких клиниках.
            </p>
            <p style="text-align: justify;">
                Мы предлагаем  вам уникальную возможность в короткий срок получить мнение специалистов из  ведущих Мюнхенских клиник.
            </p>
            <p style="text-align: justify;">
                Для этого вам нужно только заполнить заявку или обратиться в наш <a href="#contact-info">сервисный центр</a> 
                (указать телефон и почтовый адрес )
            </p>
            <p style="text-align: justify;">
                По предоставленным выпискам ,анализам крови и снимкам, какие мы незамедлительно оправляем в Германию вы получаете ответ 
                в короткое время по диагнозу и тактике лечения.
            </p>
            <p style="text-align: justify;">
                Самое важное, что у нас есть, это здоровье. Мы часто теряем драгоценное времени на очереди к врачам и сомнительные диагнозы. 
                У нас вы получите современное лечение мировых стандартов. Лучшие специалисты в области кардиологии, ортопедии, хирургии, ЛОР, 
                офтольмологии, урологии, нейрохирургии, онкологии могут помочь вам. Стоимость услуг зависит от предоставленных выписок и 
                сложности диагноза.
            </p>
            <p style="text-align: justify;">
                При необходимости оперативного вмешательства ,мы организуем визовую поддержку для пациента и сопровождающего лица. 
                Организуем встречу в аэропорту и полностью координируем ваше прибывание в Германии. Организовываем встречи с врачами и 
                предоставляем услуги переводчика.Вы не будете чувствовать языкового барьера.
            </p>
            <p style="text-align: justify;">
                Все услуги носят индивидуальный характер. Свяжитесь прямо сейчас с нашим сервисным центром (телефон и ел. Адрес) 
                и вы получите полную информацию по организации лечения и диагностики в Германии.
            </p>
            <p class="text-center"><b>Мы заботимся о вас и вашем здоровье.</b></p>
        </div>
    </div>
</div>
<!-- diagnostics End -->

<!-- Property List Start -->
<div class="container-xxl py-4">
    <div class="container">
        <h3 class="mb-3 text-center">Программы по диагностике все включено</h3>
        {% include 'include/diagnostics-block.html' %}        
    </div>
</div>
<!-- Property List End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h3 class="mb-3">Наши врачи</h3>
        </div>
        <div class="owl-carousel doctor-carousel">
            {% for doctor in doctors %}
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden">
                        <a href="{{ doctor.get_absolute_url }}" class="position-relative">
                            <img class="img-fluid img-doctor" src="{{ doctor.image.url }}" alt="{{ doctor.full_name }}">
                        </a>
                        <div class="text-center mt-3">
                            <h5 class="fw-bold mb-0"><a href="{{ doctor.get_absolute_url }}">{{ doctor.full_name }}</a></h5>
                            <small>{{ doctor.position }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="mb-3">Медицинский туризм в Германии</h3>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.2s">
            <p style="text-align: justify;">
                Медицинский туризм был издавна популярен среди жителей разных стран, в том числе и с развитой медициной, 
                где стоимость страховки настолько значительна, что туристическая поездка становилась более выгодной. 
                Теперь он доступен и для жителей России и СНГ, а с компанией «Bavaria Med Service» вы сможете легко и 
                без проблем отправиться в Германию для лечения или операции, в один из крупнейших центров современного 
                европейского медицинского туризма.
            </p>
            <p style="text-align: justify;">
                Главное отличие немецких клиник — ориентированность на пациента, забота, внимание и понимание, что так редко 
                встречается в поликлиниках и больницах бывшего СССР, где приходится сталкиваться с огромными очередями, 
                недоброжелательностью и некомпетентностью врачей. Став медицинским туристом в Германии, вы можете быть уверены в том, 
                что никогда не столкнетесь с таким лечением. Лучшие клиники центра международного медицинского туризма города 
                Мюнхена (Бавария) и первоклассные врачи всегда с радостью позаботятся о вас и о вашем лечении в Германии. 
                Мюнхен теперь не только центр туризма в немецкой Баварии, но и центр мирового медицинского туризма. 
                Именно в нем расположены самые современные немецкие взрослые и детские клиники Германии, в которых 
                используется новейшее оборудование.
            </p>
            <p style="text-align: justify;">
                Компания «Bavaria Med Service» готова приложить максимум усилий для того, чтобы помочь вам сохранить жизнь и улучшить здоровье. 
                У нас гарантия конфиденциальности, ответственность и квалифицированный подход, который мы создали в «Bavaria Med Service. 
                Наша компания строит взаимоотношения с клиентами на основе доверия и взаимопонимания. Исключительное качество всех 
                предоставляемых услуг и их своевременность — вот преимущества лечения с «Bavaria Med Service» в Мюнхене. Наши пациенты, 
                проходящие курс лечения в Европе, могут рассчитывать на получение помощи в самых современных диагностических центрах и клиниках. 
                Они оснащены новейшим оборудованием, а методы лечения и диагностики в них постоянно совершенствуются. 
                Стоимость и цены на услуги лечения в Германии в нашей компании начинаются от 2000 евро. Подробнее узнавайте по телефонам.
            </p>
            <p>
                <img src="" alt="">
            </p>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock content-xxl %}