{% extends 'base/base.html' %}
{% load static imagekit %}

{% block content-xxl %}
<!-- diagnostics Start -->
<div class="container-xxl diagnostics">
    <div class="container">
        <div class="wow fadeIn" data-wow-delay="0.5s">
            <h2 class="mb-4 text-center">Уважаемые Дамы и Господа </h2>
            <p style="text-align: justify; text-indent: 45px;">
                Мы рады Вас приветствовать на нашем сайте, какой занимается организацией лечения в Мюнхене.
            </p>
            <p style="text-align: justify; text-indent: 45px;">
                Очень часто вы не можете получить точный  диагноз или хотите услышать второе мнение специалистов из Германии. 
                Вы не уверены в правильности тактики лечения и просто хотите пройти диагностику в лучших  немецких клиниках.
            </p>
            <p style="text-align: justify;">
                Мы предлагаем  вам уникальную возможность в короткий срок получить мнение специалистов из  ведущих Мюнхенских клиник.
            </p>
            <p style="text-align: justify;">
                Для этого вам нужно только заполнить заявку или обратиться в наш <a href="#contact-info">сервисный центр</a> 
                (указать телефон и почтовый адрес )
            </p>
            <p style="text-align: justify;">
                По предоставленным выпискам ,анализам крови и снимкам, какие мы незамедлительно оправляем в Германию вы получаете ответ 
                в короткое время по диагнозу и тактике лечения.
            </p>
            <p style="text-align: justify;">
                Самое важное, что у нас есть, это здоровье. Мы часто теряем драгоценное времени на очереди к врачам и сомнительные диагнозы. 
                У нас вы получите современное лечение мировых стандартов. Лучшие специалисты в области кардиологии, ортопедии, хирургии, ЛОР, 
                офтольмологии, урологии, нейрохирургии, онкологии могут помочь вам. Стоимость услуг зависит от предоставленных выписок и 
                сложности диагноза.
            </p>
            <p style="text-align: justify;">
                При необходимости оперативного вмешательства ,мы организуем визовую поддержку для пациента и сопровождающего лица. 
                Организуем встречу в аэропорту и полностью координируем ваше прибывание в Германии. Организовываем встречи с врачами и 
                предоставляем услуги переводчика.Вы не будете чувствовать языкового барьера.
            </p>
            <p style="text-align: justify;">
                Все услуги носят индивидуальный характер. Свяжитесь прямо сейчас с нашим сервисным центром (телефон и ел. Адрес) 
                и вы получите полную информацию по организации лечения и диагностики в Германии.
            </p>
            <p class="text-center"><b>Мы заботимся о вас и вашем здоровье.</b></p>
        </div>
    </div>
</div>
<!-- diagnostics End -->

<!-- Property List Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-start mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="mb-3 text-center">Программы по диагностике все включено</h3>
            <p>
                Эффективное лечение в Европе невозможно без качественной диагностики. Поэтому, прежде чем планировать лечение в Германии, 
                необходимо приложить выяснение природы заболевания. Диагностика в Германии включает широкие лабораторные исследования, 
                магнитно-резонансную томографию внутренних органов, ультразвуковое исследование и ряд других тестов.
            </p>
        </div>
            
        <div class="tab-content">
            <div id="university" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                    {% for clinic in clinics %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="">{% generateimage 'clinic:thumbnail' source=clinic.image -- class="mypicture" %}</a>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                        Мюнхен
                                    </div>
                                </div>
                                <div class="p-4 pb-0">
                                    <a class="d-block h5 mb-2" href="">{{ clinic.title }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Показать все</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Property List End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h3 class="mb-3">Наши врачи</h3>
        </div>
        <div class="owl-carousel doctor-carousel">
            {% for doctor in doctors %}
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ doctor.image.url }}" alt="{{ doctor.full_name }}">
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">{{ doctor.full_name }}</h5>
                            <small>{{ doctor.position }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Отзывы</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/call-to-action.jpg"
                                style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/call-to-action.jpg"
                                style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet
                        diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="img/call-to-action.jpg"
                                style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

{% endblock content-xxl %}